@model BrandVille.Models.Result
@{
    ViewData["Title"] = "Items";
}
<div class="row justify-content-center" style="overflow-y: scroll;  height:85vh">
    <div class="col-10 text-center banner-img" style="min-height: 200px">
        <img src="https://lizemariarthur.files.wordpress.com/2013/08/image-4.jpg" style="width:70%" alt="" />
    </div>
    @foreach (var product in Model.Products)
    {
        <div class="col-3 item-for-sale">
            <a class="row justify-content-center" style="padding-bottom: 10px" asp-action="ViewItem"
               asp-route-url="@product.Url.Substring(product.Url.LastIndexOf('/') + 1)">
                <div class="col-10">
                    <div class="imageCard">
                        <img class="img-top item-picture" src=@product.Pictures.Back.Src alt="Default Image">
                        <img class="item-picture" src=@product.Pictures.Front.Src alt="Profile Image">
                    </div>
                </div>
            </a>
            <div class="row">
                <div class="col-8" style="text-overflow: ellipsis; white-space: nowrap"><b>@product.Brand</b></div>
                <div class="col-4">@product.Size</div>
                @if (!product.StartingPrice.IsLastPrice)
                {
                    <div class="col-6 old-price">Çmimi fillestar:</div>
                    <div class="col-6 old-price text-right" style="text-decoration: line-through">@product.StartingPrice.FullInLekRounded</div>
                    <div class="col-6">Çmimi:</div>
                    <div class="col-6 text-right"><b>@product.CurrentPrice.FullInLekRounded</b></div>
                }
                else
                {
                    <div class="col-6 old-price"><br /></div>
                    <div class="col-6 old-price text-right"><br /></div>
                    <div class="col-6">Çmimi:</div>
                    <div class="col-6 text-right"><b>@product.CurrentPrice.FullInLekRounded</b></div>
                }

                @if (product.Status == "1")
                {
                    if (product.ReservedUserId == -1)
                    {
                        <div class="col-12 buy-now-button" style="padding-top: 10px">
                            @Html.ActionLink("Blej tani", "Add", product.CartProduct, new { @class = "btn btn-success col-12" })
                        </div>
                    }
                    else
                    {
                        <div class="col-12 buy-now-button" style="padding-top: 10px"><button class="btn btn-secondary col-12">Rezervuar për 30 min.</button> </div>
                    }
                }
                else if (product.Status == "2")
                {
                    <div class="col-12 buy-now-button" style="padding-top: 10px"><button class="btn btn-secondary col-12">SHITUR</button> </div>
                }
                else if (product.Status == "4")
                {
                    <div class="col-12 buy-now-button"><button class="btn btn-secondary col-12">Rezervuar për 30 min.</button> </div>
                }
            </div>
        </div>
    }
</div>




